/* Desktop - 1 */
body {
    position: relative;
    width: 1440px;
    height: 2048px;
    background: #000000;
  }
  
  /*ChatGPT é um modelo de linguagem artificial criado pela OpenAI que pode ser usado para gerar texto em uma variedade de tarefas, como respostas a perguntas, tradução de idiomas, geração de texto de conversação e muito mais. Ele foi treinado em uma grande quantidade de dados de texto de alta qualidade para poder gerar textos que parecem naturais e coerentes.O ChatGPT também é altamente personalizável, permitindo que os desenvolvedores ajustem seus parâmetros para atender às necessidades específicas de sua aplicação. 
  Enquanto o Exterminador do Futuro é um andróide assassino programado para matar, o ChatGPT é um modelo de linguagem artificial criado para gerar texto de qualidade em diversas tarefas. A única coisa que ele vai "matar" é a dúvida dos usuários!
 O aprendizado contínuo do ChatGPT significa que sua precisão e qualidade melhoram com o tempo. Já o T-800, mesmo sendo uma máquina altamente avançada, ainda precisa ser programado manualmente e não pode aprender com novas informações como o ChatGPT.
  Assim como o T-800 do Exterminador do Futuro, o ChatGPT também é altamente eficiente em sua tarefa de fornecer respostas precisas e coerentes. A diferença é que o ChatGPT não precisa de armas pesadas e frases icônicas como "Hasta la vista, baby!" para cumprir sua missão.
  Embora o ChatGPT seja um modelo de linguagem artificial altamente avançado, ele não tem a capacidade de se tornar uma Skynet como no filme Exterminador do Futuro. O ChatGPT foi projetado para realizar tarefas específicas relacionadas à linguagem natural, e não possui recursos de inteligência artificial que permitiriam a ele se tornar uma ameaça para a humanidade.
  Em resumo, o ChatGPT é uma ferramenta poderosa para gerar texto com base em dados de linguagem natural. Com sua capacidade de personalização e aprendizagem contínua, ele pode ser usado para uma variedade de aplicações em muitos setores, desde assistentes virtuais e chatbots até sistemas de recomendação e muito mais.
 */
  .comment {
    position: absolute;
    width:528px;
    height: 1052px;
    left: 44px;
    top: 628px;
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: justify;
    text-transform: lowercase;
    color: #C22141;
    mix-blend-mode: lighten;
  }
  
  /* T800 1 */
  .t800 {
    position: absolute;
    width: 720px;
    height: 1702px;
    left: 731px;
    top: 346px;
    background: url(t800.png);
  }
  
  /* Rectangle 1 */
  .rectangle1 {
    position: absolute;
    width: 563px;
    height: 302px;
    left: 729px;
    top: 734px;
    background: #610B17;
  }
  
  /* Rectangle 11 */
  .rectangle11 {
    position: absolute;
    width: 548px;
    height: 287px;
    left: 736px;
    top: 743px;
    background: #000000;
  }
  
  /* chat-gpt-uso 2 */
  .chatGptUso2 {
    position: absolute;
    width: 525px;
    height: 271px;
    left: 746px;
    top: 751px;
    background: url(chat-gpt-uso.png);
  }
  
  /* Rectangle 3 */
  .rectangle3 {
    position: absolute;
    width: 563px;
    height: 58px;
    left: 726px;
    top: 642px;
    background: #610B17;
  }
  
  /* Rectangle 4 */
  .rectangle4 {
    position: absolute;
    width: 5px;
    height: 4px;
    left: 731px;
    top: 708px;
    background: #D9D9D9;
  }
  
  /* Rectangle 5 */
  .rectangle5 {
    position: absolute;
    width: 553px;
    height: 44px;
    left: 731px;
    top: 649px;
    background: #000000;
  }
  
  /* como funciona o site: */
  .comoFunciona {
    position: absolute;
    width: 521px;
    height: 30px;
    left: 750px;
    top: 656px;
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: justify;
    text-transform: lowercase;
    color: #C22141;
  }
  
  /* Rectangle 6 */
  .rectangle6 {
    position: absolute;
    width: 558px;
    height: 244px;
    left: 736px;
    top: 1153px;
    background: #610B17;
  }
  
  /* Rectangle 7 */
  .rectangle7 {
    position: absolute;
    width: 538px;
    height: 229px;
    left: 746px;
    top: 1160px;
    background: #000000;
  }
  
  /* ir para o site: */
  .irParaSite {
    position: absolute;
    width: 293px;
    height: 48px;
    left: 965px;
    top: 1202px;
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: justify;
    text-transform: lowercase;
    color: #C22141;
  }
  
  /* conheça o cHATGPT */
  .conhecaChatGpt {
    position: absolute;
    width: 610px;
    height: 89px;
    left: 76px;
    top: 452px;
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: justify;
    text-transform: lowercase;
    color: #C22141;
  }
  
  /* Rectangle 9 */
  .rectangle9 {
    position: absolute;
    width: 284px;
    height: 110px;
    left: 960px;
    top: 1250px;
    background: #610B17;
  }
  
  /* entrar */
  .entrar {
    position: absolute;
    width: 165px;
    height: 105px;
    left: 1011px;
    top: 1255px;
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: justify;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: #000000;
  }
  
  /* Rectangle 10 */
  .rectangle10 {
    position: absolute;
    width: 541px;
    height: 229px;
    left: 744px;
    top: 1160px;
    background: #000000;
  }
  
  /* skynet 1 */
  .skynet1 {
    position: absolute;
    width: 536px;
    height: 345px;
    left: 418px;
    top: 1px;
    background: url(skynet);
  }
  
  /* chat gpt 1 */
  .chatGpt1 {
    position: absolute;
    width: 198px;
    height: 198px;
    background: url(chat gpt.jpg);
    border-radius: 46px;
  }
  
  /* ir para o site: */
.irparaosite {
position: absolute;
width: 293px;
height: 48px;
left: 965px;
top: 1202px;

font-family: 'Courier Prime';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 27px;
display: flex;
align-items: center;
text-align: justify;
text-transform: lowercase;

color: #C22141;

 }